<div content-wrapper>
  <div back-img>
    <img src="../../../assets/header-art.png" width="700px" height="750px">
  </div>
  <div header>
    <div title>
      <p>Resolve</p>
      <p>Auto</p>
    </div>
    <p desc>Toda segurança para<br>você e seu veículo</p>
  </div>

  <div inputs-row>
    <img chave-img src="../../../assets/header-chave.png" width="270px" height="270px">

    <div inputs>
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="inputName" placeholder="Digite seu nome...">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="inputTel" placeholder="Telefone (Opcional)">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="inputEmail" placeholder="Digite aqui seu email...">
        </div>
        <!-- add function to receive form data and send email using EmailJS -->
        <button type="submit" class="btn btn-primary">Me avise quando estiver disponível</button>
      </form>
    </div>
  </div>
</div>