[content-wrapper] {
  width: auto;
  min-width: 1024px;

  padding: 5%;

  background-color: #FBBA05;
  background-image: url("../../../assets/mo-intro.png");
  background-position: left top;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  color: black;
}

[pt1] {
  width: 30%;
  margin-bottom: 5%;

  p:nth-child(1) {
    font-size: 28px;
    font-weight: 500;
  }
  p {
    font-size: 20px;
    font-weight: 300;
  }
}

[pt2], [pt3] {
  width: 30%;
  padding-top: 3%;

  p {
    margin-bottom: 9%;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
  }
}