<div content-wrapper>
  <div pt1>
    <p>Percepção de falha na bateria</p>
    <p>Você sabe identificar quando sua bateria está acabando?</p>
    <p>Os sintomas a seguir são as características mais comuns de fim da vida útil da bateria.</p>
  </div>
  <div pt2>
    <p>1. Partida longa</p>
    <p>2. Rádio falhando</p>
    <p>3. Parte elétrica lenta</p>
    <p>4. Start/Stop fraco</p>
    <p>5. "Espuma" na conexão da bateria</p>
    <p>6. Vidros elétricos "pesados"</p>
  </div>
  <div pt3>
    <p>7. Relógio marcando horário errado</p>
    <p>8. Luz enfraquece quando liga a seta</p>
    <p>9. Direção elétrica “pesada”</p>
    <p>10. Vidros irregulares ao usar o alarme</p>
    <p>11. Alarme não funciona</p>
    <p>12. Indicador da Bateria</p>
  </div>
</div>

