<div content-wrapper>
  <div passo>
    <img src="../../../assets/passo1.png" width="202px" height="168px">
    <div hide-elem circle>
      <p>1</p>
    </div>
    <div description>
      <p title>Acionamento simples e rápido</p>
      <p text>Ao primeiro sinal de problemas no automóvel,
        acesse nosso site e solicite a assistência mais
        proxima a você. Caso não conte com internet móvel
        também é possivel ligar gratuitamente para nossa
        central atravéz do 0800 e logo será atendido. No
        caso de pane elétrica a troca da bateria é feita no
        local, mas para outros reparos enviaremos um guincho.</p>
    </div>
  </div>
  <div passo>
    <div hide-elem circle>
      <p>2</p>
    </div>
    <div description>
      <p title>Socorro 24 horas</p>
      <p text>Nossos guinchos parceiros irão te encontrar em 
        qualquer local e a qualquer hora do dia. Nós valorizamos 
        muito a segurança de nossos clientes e fiscalizamos cada 
        parceiro para garantir excelência no serviço prestado.</p>
    </div>
    <img src="../../../assets/passo2.png" width="202px" height="168px">
  </div>
  <div passo>
    <img src="../../../assets/passo3.png" width="202px" height="168px">
    <div hide-elem circle>
      <p>3</p>
    </div>
    <div description>
      <p title>Nossa equipe credenciada</p>
      <p text>Contamos com uma ampla rede credenciada de profissionais 
        de diversas especialidades técnicas, como mecânicas e auto elétricas, 
        que estarão inteiramente disponíveis para resolver qualquer que seja o 
        seu problema.</p>
    </div>
  </div>
  <div passo>
    <div hide-elem circle>
      <p>4</p>
    </div>
    <div description>
      <p title>Resolva seus compromissos<br>sem preocupação</p>
      <p text>Além disso o cliente poderá contar com outros 
        benefícios como vouchers para transporte por aplicativo, 
        nos casos em que não possa acompanhar ou aguardar o conserto 
        de seu veículo. As vantagens não acabam mais!
      </p>
    </div>
    <img src="../../../assets/passo4.png" width="243px" height="168px">
  </div>
</div>