<div id="comoFunciona" content-wrapper>
  <p title>Como funcionam<br>nossos serviços?</p>
  <div pt1>
    <div text>
      <p>Acionamento simples e rápido</p>
      <p>Ao primeiro sinal de situação de falha no veículo 
        (exemplos acima)  faça o  acionamento pelo site ou 
        WhatsApp e será atendido por um de nossos colaboradores, 
        ou se preferir, em casos em que não tenha internet, poderá acionar 
        o serviço através do telefone pela nossa central 0800.</p>
    </div>
    <img image src="../../../assets/mo-passos-1.png">
  </div>
  <div pt2>
    <img image src="../../../assets/mo-passos-2.png">
    <div text>
      <p>Socorro especializado a qualquer momento</p>
      <p>A revenda de baterias Moura mais próxima será acionada 
        e um técnico será encaminhado até você, te auxiliando com 
        a troca de bateria em situações de pane elétrica, ou diagnosticando 
        o problema em casos de danos mecânicos.</p>
    </div>
  </div>
</div>