<div id="servicos" content-wrapper>
  <div box>
    <p title>Serviços</p>
    <div options>
      <div direc>
        <img src="../../../assets/icon-cobertura-servico.png">
        <p>Troca de bateria dentro do prazo de garantia (18 meses).</p>
      </div>
      <div direc>
        <img src="../../../assets/icon-cobertura-servico.png">
        <p>Venda e instalação de baterias fora do prazo de garantia.</p>
      </div>
      <div direc>
        <img src="../../../assets/icon-cobertura-servico.png">
        <p>Diagnóstico de demais falhas mecânicas.</p>
      </div>
      <div direc>
        <img src="../../../assets/icon-cobertura-servico.png">
        <p>Recargas de bateria onde a troca não é necessária.</p>
      </div>
    </div>
  </div>
  <div image>
    <img responsive src="../../../assets/mo-servico-img.png">
  </div>
</div>