@import '../../../styles/css/media.scss';

[content-wrapper] {
  width: auto;
  min-width: 1024px;
  padding: 3% 6% 4% 9%;

  background-color: rgba(0,93,149, 0.15);
  background-image: url("../../../assets/mo-servico-back.png");
  background-repeat: no-repeat;
  background-position: center right;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

[box] {
  [title] {
    font-size: 28px;
    font-weight: 500;
    line-height: 170%;
  }

  [options] {
    display: flex;
    flex-direction: column;

    p {
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
    }

    [direc] {
      display: flex;
      flex-direction: row;
      
      img {
        width: 27px;
        height: 27px;
      }
    }
  }
}

[image] {
  width: 50%;
}

[responsive] {
  width: 100%;
  max-width: 440px;
  height: auto;
  object-fit: contain;
}


@include media('>=desktop') {
  [box] {
    width: 33%;
  }
}

@include media('<desktop') {
  [box] {
    width: 50%;
  }
}
