[content-wrapper] {
  width: auto;
  min-width: 1024px;

  padding: 2% 50% 9% 9%;

  background-image:    url("../../../assets/mo-header-background.png");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;

  display: flex;
  flex-direction: column;
  align-content: space-between;
}

[navigation] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 19% 0;

  a {
    color: white;
    font-size: 18px;
    font-weight: 300;
    opacity: 0.8;
    text-decoration: none;
  }
}

[title] {
  width: 100%;
  color: white;
  font-weight: 300;

  p:nth-child(1) {
    font-size: 48px;
    margin-bottom: 0;
  }
  p:nth-child(2) {
    width: 90%;
    font-size: 20px;
    opacity: 0.8;
  }
}

[inputs] {
  // display: flex;
  // margin: 0;
  // margin-top: 5%;
  width: 85%;
  margin: 5% 0 25% 0;

  form {
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  button {
    background-color: #FBBA05;
    font-weight: 400;
  }
}