<div content-wrapper>
  <div box>
    <p>Abrangência dos<br>nossos serviços</p>
    <p>Este atendimento estará em breve<br>disponível em mais de 350 locais.</p>
    <p>Deixe seu email abaixo para ser <br>avisado quando lançar.</p>
    <div inputs>
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="inputName" placeholder="Digite seu nome...">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="inputTel" placeholder="Telefone (Opcional)">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="inputEmail" placeholder="Digite aqui seu email...">
        </div>
        <!-- add function to receive form data and send email using EmailJS -->
        <button type="submit" class="btn btn-primary">Me avise quando estiver disponível</button>
      </form>
    </div>
  </div>
  <img hide-elem src="../../../assets/footer-map.png" width="470px" height="605px">
</div>

