<div content-wrapper>
  <div box>
    <p title>O que este<br>serviço cobre</p>
    <div options>
      <p><img src="../../../assets/icon-cobertura-servico.png">Guincho 24 horas</p>
      <p><img src="../../../assets/icon-cobertura-servico.png">Suporte a pane elétrica</p>
      <div direc>
        <img src="../../../assets/icon-cobertura-servico.png">
        <p>Direcionamento a suporte mecânicos caso não seja bateria</p>
      </div>
    </div>
    <div obs-box>
      <p>Obs</p>
      <p>No caso de não ser bateria é cobrado apenas uma taxa de visitas no valor de R$ 00,0 e o serviço prestado será definido diretamente com nossos parceiros de acordo com tabela de preços.</p>
    </div>
  </div>
  <img responsive hide-elem src="../../../assets/cobertura-servico.png">
</div>